body {
    padding-top: 5rem;
}



textarea{
    height: 150px;
}

.form-control{
    width: 500px;

}

label{
    font-weight: bold;
}

.rq{
    color: red;
    font-weight: normal;

}

p{
    font-weight: normal;
}