
{% extends 'base.html' %}

{% block main %}
    <h2>Flask Form</h2>

    <form action="{{ url_for('contact') }}" method="post">
        {% include 'flash_messages.html' %}
        {{ contact.csrf_token }}
        <div class="form-group">
            <label for="name">Name <span class = "rq" >(Required)</span><p>Please enter your full name</p></label>
            <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="form-group">
            <label for="email">E-mail <span class = "rq" >(Required)</span><p>Please enter your email address</p></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="davgriff@example.com" />
        </div>
        <div class="form-group">
            <label for="subject">Subject <span class = "rq" >(Required)</span><p>Please enter a subject for your message</p></label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Type a short subject" />
        </div>

        <div class="form-group">
            <label for="message">Message <span class = "rq" >(Required)</span><p>Please enter your message</p></label>
            <textarea  class="form-control" name="message" id="message" placeholder="Leave a message" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}